<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.1/css/bulma.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <section class="hero is-fullheight is-dark">
    <header class="hero-head">
      {% include "header.html" %}
    </header>
    <main class="hero-body">
      {% block main %}
        <h1>Home</h1>
      {% endblock %}
    </main>
  </section>
</body>

</html>
