{% extends "base.html" %}
{% block main %}
  <div class="box is-radiusless editor-box">
    <form action="/post/create" method="POST">
      <div class="editor-header">
        <input type="text" class="x-input" name="title" placeholder="请输入文章标题......">
        <button type="submit" class="button is-success is-radiusless">发布</button>
      </div>
      <div class="editor-body">
        <div class="editor" contenteditable="true"></div>
        <input type="hidden" name="content">
        <div class="content output"></div>
      </div>
    </form>
  </div>
{% endblock %}
{% block script %}
<script src="https://cdn.bootcss.com/marked/0.4.0/marked.min.js"></script>
<script>
  var input = document.querySelector('.editor')
  var output = document.querySelector('.output')
  var submitBtn = document.querySelector('button[type="submit"]')
  var form = document.querySelector('form')
  input.addEventListener('input', function () {
    output.innerHTML = marked(input.innerText)
  })
  submitBtn.addEventListener('click', function (event) {
    if (form.title.value === '') {
      return false
    }
    if (input.innerText === '') {
      return false
    }
    form.content.value = input.innerText
    form.submit()
  })
</script>
{% endblock%}
