{% extends "base.html" %}
{% block main %}
  <div class="box is-radiusless signup-box">
    <h1 class="title">欢迎，请注册！</h1>
    <form action="/signup" method="POST">
      <div class="field">
        <label for="" class="label">用户名</label>
        <div class="control">
          <input type="text" class="x-input" name="name" placeholder="请输入用户名">
        </div>
      </div>
      <div class="field">
        <label for="" class="label">邮箱</label>
        <div class="control">
          <input type="email" class="x-input" name="email" placeholder="请输入邮箱地址">
        </div>
      </div>
      <div class="field">
        <label for="" class="label">密码</label>
        <div class="control">
          <input type="password" class="x-input" name="password" placeholder="请输入密码">
        </div>
      </div>
      <div class="field">
        <label for="" class="label">确认密码</label>
        <div class="control">
          <input type="password" class="x-input" name="repassword" placeholder="请确认密码">
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-danger is-radiusless">注册</button>
        </div>
        <div class="control">
          <a href="/signin" class="button is-danger is-radiusless is-outlined">已有账号，去登录</a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
