<nav class="x-nav">
  <img class="x-logo" src="https://bulma.io/images/bulma-logo.png" alt="bulma" height="28" width="112">
  {% if session.user %}
  <a class="x-nav-item button is-danger is-radiusless x-user" href="#">{{ session.user.name }}</a>
  <a class="x-nav-item button is-danger is-radiusless is-outlined" href="/signout">退出</a>
  {% else %}
  <a class="x-nav-item button is-danger is-radiusless" href="/signin">登录</a>
  <a class="x-nav-item button is-danger is-radiusless is-outlined" href="/signup">注册</a>
  {% endif %}
</nav>
